body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  font-size: 1.0rem;
  padding: 0 5px;
}

button {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 3px 15px;
  color: white;
  line-height: 25px;
  background-color: #00bcd4;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: all 150ms ease-in;
  outline: none;
  align-self: center;
}

button:hover {
  background-color: #79d7e4;
}

button.turn:hover {
  background-color: #eaeaea;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid lightgrey;
  overflow-y: scroll;
}

li {
  padding: 10px 10px 10px 10px;
}

canvas {
  display: block;
  margin: 10px auto;
}

.controls-wrapper {
  background-color: rgb(255, 255, 255);
  /* width: 400px; */
  margin: 2%;
  width: auto;
  /* margin: 20px auto; */
  /* border: 1px solid lightgrey; */
}

.chat-wrapper {
  padding: 10px;
}

.chat-wrapper form {
  display: flex;
}

/* .chat-wrapper form input {
  font-size: 1.0rem;
  margin: 0 10px 0 0;
  padding: 0 5px;
  flex-grow: 1;
} */

.chat-wrapper form button {
  width: 80px;
}

#events {
  height: 150px;
}

.row {
	display: flex;
	font-size: 1em;
	text-align: center;
	color: red;
}
.cell {
	margin: 0.1em;
	border: 0.1em solid black;
  width: 15em;
  height: 15em;
}

button{
  background-color:lightblue;
}

div{
  margin: 0%;
  margin-top: 0.5%;
  padding: 0.5%;

}

#create-div{
  border: 2px;
  border-color: #060606;

}

.gamebutton {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.gamebutton:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #add8e6;
  border-radius: 10rem;
  z-index: -2;
}
.gamebutton:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.gamebutton:hover {
  color: #fff;
}
.gamebutton:hover:before {
  width: 100%;
}

/* optional reset for presentation */
* {
  font-family: Arial;
  text-decoration: none;
}

.container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  color: #777;
}

span {
  display: block;
  margin-top: 2rem;
  font-size: 0.7rem;
  color: #777;
}
span a {
  font-size: 0.7rem;
  color: #999;
  text-decoration: underline;
}