<div class="col-md-8" id="msgbox">
    <ul id="events"></ul>

    <div class="controls">
        <div class="controls">
            <div class="chat-wrapper">
                <form class="container-fluid" id="chat-form">
                    <div class="form-group">
                        <input id="chat" autocomplete="off" title="chat" />
                    </div>
                    <div class="form-group" type=submit>
                        <button class="btn btn-outline-dark" id="say">Say</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>