<div id="GameUI" style="display: none;">

    <div id="demo">

    </div>

    <button class="gamebutton" id="startbtn" onClick="myFunction()">Start Game</button>
    <button class="gamebutton" id="newgamebtn" onClick="myFunction()"> <a href=""> New Game</a></button>

</div>