{{!-- Game UI with the board and user option buttons --}}

<div id="GameUI" style="display: none;">

    <div id="demo">

    </div>

    <button class="gamebutton" id="startbtn" onClick="submitGameDetails()">Start Game</button>
    <button class="gamebutton" id="newgamebtn" onClick="submitGameDetails()"> <a href=""> New Game</a></button>

</div>