{{!-- popup help box --}}
<div class="popup">
    <h2>How to Play</h2>
    <a class="close" href="">&times;</a>
    <div class="content">
        <br>
        Welcome to MoodBingo! Are you ready to have some fun? Grab
        your friends and get ready to have an awsome time!

        <br>
        <br>
        <hr>
        <b>Getting Started!</b>
        <br>
        <br>
        You can choose your presets, set the number of rows of the
        bingo board and set the voting time and you are ready to go!
        <br>
        <br>
        Once you create the room you will enter the Lobby area and 
        get the room ID. Share the ID with your friends who can 
        paste the room ID and press JOIN. 
        <br> 
        <br>
        Chill in the Lobby and message and chat with your friends. Once
        everyone has arrived press START GAME and play!
        <br>
        <br>
        Add Custom Presets too!. Name your presets and type in at least
        9 prompts for a good (3x3 board) game. Then press ADD. While creating the room
        <br>

        <hr>
        <b>Default Presets Available :)</b>
        <br>
        <br>
        <b>School Vibes : </b> Ready to cherish old school memories this is the perfect preset for you! (max: 3 rows)
        <br>
        <br>
        <b>Stranger Danger : </b> Wanting to know your new friends better. Get ready for loads of fun and revelations.
        (max: 3 rows)
        <br>
        <br>
        <b>Night Out : </b> Self explanatory. Get ready to have your quality girls night out moodbingo style! (max: 3
        rows)
        <br>
        <br>
        <b>Family Time : </b> Having a chill out day with your family. What better way to spend the day playing
        MoodBingo! (max: 3 rows)
        <br>
        <br>

        <hr>
        <b>Rules ::</b>
        <br>
        <br>
        A card is highlighted at the beginning of each round. The player who has 
        actually done / had experienced "the never have I ever" prompt races to
        RAISE HANDS. The player who selets first gets a chance to bag the card. 
        <br>
        <br>
        The voting round then starts and the player who had raised hands has the custom
        voting time available to convince the others of their experience. The other players
        then proceed to vote either yes/no (only the last choice before the end of the round for each player is counted.
        You are free to change your mind and modify your vote during the course of the voting time!)
        <br>
        <br>
        If majority votes yes, the player wins the card. The first player to complete either a row, column or diagonal wins 
        the game!
        <br>
        <br> 
  
    </div>
</div>