{{!-- Lobby with chat box and messaging  --}}

<div id="lobby" style="display: none;">
    <div class="controls-wrapper" style="display: flex; flex-direction: row;">

        {{> chat_box}}

        {{> member_message}}


    </div>
</div>