{{!-- user welcome page at the start of the game --}}

<div id="welcome">

<form class="container-fluid col-md-6 align-items-center" id="frm1">
    <h4 class="display-4">MoodBingo!</h4>
	<div class="form-group">
		<label>Name:</label>
		<br>
		<input type="text" name="name" placeholder="Enter name" required><br /><br />
	</div>

	<br>
	<hr class="dashed"> 
	
	<div class="form-group">
		<label>Preset:</label>
		<br>
		<input type="text" name="optionc" placeholder="Enter preset option" required>
	</div>

	<div class="form-group">
		<label>Rows:</label>
		<br>
		<input type="number" name="rows" placeholder="Number of rows" value="3" />

	</div>
		<div class="form-group">
		<label>Voting Round Timer:</label>
		<br>
		<input type="text" name="rows" placeholder="Type as mm:ss" value="00:15" />
	</div>

</form>

<div style="display: flex; justify-content: center"><button class="gamebutton" id="createbtn" type="button" onClick="createRoom()">CREATE</button></div>


<form id="join-form" id="join-div" class="container-fluid col-md-6 align-items-center">
	<br>
    <hr class="dashed"> 
    <div class="form-group">
		<label></label>Room ID:</label>
		<br>
		<input type="text" name="room_nr" placeholder="Enter room ID" required /><br /><br />
	</div>
	
</form>


<div style="display: flex; justify-content: center"><button class="gamebutton" type="button" id="joinbtn" onClick="joinRoom()">JOIN</button></div>
</div>